﻿
@{
    ViewBag.Title = "Xác nhận xóa nhân viên";
}

<form class="form-horizontal" method="post" action="~/Employee/Delete/1234">
    <div class="form-group">
        <label class="control-label col-sm-2">LastName:</label>
        <div class="col-sm-10">
            <p class="form-control-static">Davolio</p>
        </div>

        <label class="control-label col-sm-2">FirstName:</label>
        <div class="col-sm-10">
            <p class="form-control-static">Nancy</p>
        </div>

        <label class="control-label col-sm-2">BirthDate:</label>
        <div class="col-sm-10">
            <p class="form-control-static">12/8/1968 12:00:00 AM</p>
        </div>

        <label class="control-label col-sm-2">Photo:</label>
        <div class="col-sm-4">
            <p class="form-control-static">http://dummyimage.com/140x180.png/cc0000/ffffff&text=Employee Photo</p>
        </div>
        <label class="control-label col-sm-2">Notes:</label>
        <div class="col-sm-4">
            <p class="form-control-static">Education includes a BA in psychology from Colorado State University. She also completed (The Art of the Cold Call). Nancy is a member of 'Toastmasters International'.</p>
        </div>

        <label class="control-label col-sm-2">Email:</label>
        <div class="col-sm-4">
            <p class="form-control-static">nancy.davolio@liteshop.com</p>
        </div>
        <label class="control-label col-sm-2">Password:</label>
        <div class="col-sm-4">
            <p class="form-control-static">e10adc3949ba59abbe56e057f20f883e</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn có chắc chắn muốn xóa nhân viên này khỏi hệ thống hay không?
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button class="btn btn-danger">Đồng ý xóa</button>
            <a href="~/Employee/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form>
