﻿<div class="container-fluid">
    <form method="post" action="~/Employee/Save">
        <div class="form-group">
            <label>LastName:</label>
            <input type="text" class="form-control" name="LastName" id="LastName" autofocus>
        </div>
        <div class="form-group">
            <label>FirstName:</label>
            <input type="text" class="form-control" name="FirstName" id="FirstName">
        </div>
        <div class="form-group">
            <label>BirthDate:</label>
            <input type="text" class="form-control" name="BirthDate" id="BirthDate">
        </div>
        <div class="form-group">
            <label>Photo:</label>
            <input type="file" class="form-control-file" name="Photo" id="Photo" required>
        </div>
        <div class="form-group">
            <label>Notes:</label>
            <input type="text" class="form-control" name="Notes" id="Notes">
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" name="Email" id="Email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Password:</label>
                    <input type="text" class="form-control" name="Password" id="Password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Lưu dữ liệu
                </button>
            </div>
            <div class="col-md-6 text-right">
                <a href="~/Employee/Index" class="btn btn-warning">
                    <i class="fa fa-window-close"></i> Bỏ qua
                </a>
            </div>
        </div>
    </form>
</div>