﻿@model LiteCommerce.Admin.Models.EmployeePaginationQueryResult

@{
    ViewBag.Title = "Quản lý nhân viên";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <form method="get" action="~/Employee/Index">
                    <div class="input-group">
                        <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="@Model.SearchValue">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid">

                <p>
                    có tất cả <strong>@Model.RowCount</strong> nhà cung cấp. Bạn đang ở trang số <strong>@Model.Page</strong>
                    trong tổng số <strong>@Model.PageCount </strong>  trang
                </p>
            </div>

            <table class="table">
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        LastName
                    </th>
                    <th>
                        FirtName
                    </th>
                    <th>
                        BirthDate
                    </th>
                    <th>
                        Photo
                    </th>
                    <th>
                        Notes
                    </th>
                    <th>
                        Email
                    </th>
                    <th>Password</th>
                    <th class="text-right">
                        <a href="~/Employee/Add" class="btn btn-xs btn-primary">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                </tr>
                @{ int k = 0;}
                @foreach (var item in Model.Data)
                {
                    k++;
                    <tr>
                        <td>
                            @k
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.BirthDate
                        </td>
                        <td>
                            <img src="@item.Photo" alt="is employee" />
                        </td>
                        <td>
                            @item.Notes
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>@item.Password</td>
                        <td class="text-right">
                            <a href="~/Employee/Edit/@item.EmployeeID" class="btn btn-xs btn-info">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/Employee/Delete/@item.EmployeeID" class="btn btn-xs btn-danger">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                }

            </table>
            <div style="margin: auto; width: 15%;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.Page)
                            {
                                <li class="active"><a class="page-link" href="#">@i</a></li>

                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="~/Employee/Index?Page=@i&searchValue=@Model.SearchValue">@i</a></li>

                            }

                        }
                        <li>
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>