﻿
@{
    ViewBag.Title = "Xác nhận xóa loại hàng";
}

<form class="form-horizontal" method="post" action="~/Category/Delete/1234">
    <div class="form-group">
        <label class="control-label col-sm-2">Tên loại hàng:</label>
        <div class="col-sm-10">
            <p class="form-control-static">Beverages</p>
        </div>

        <label class="control-label col-sm-2">Mô tả:</label>
        <div class="col-sm-10">
            <p class="form-control-static">Soft drinks, coffees, teas, beers, and ales</p>
        </div>

        <label class="control-label col-sm-2">Danh mục cha:</label>
        <div class="col-sm-10">
            <p class="form-control-static">Frahmredder 112a</p>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn có chắc chắn muốn xóa loại hàng này khỏi hệ thống hay không?
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button class="btn btn-danger">Đồng ý xóa</button>
            <a href="~/Category/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form>
