﻿@model LiteCommerce.DomainModels.Category
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <form method="post" action="~/Category/Save">
            <div class="form-group">
                <label>Tên loại hàng:</label>
                <input type="text" class="form-control" name="CategoryName" id="CategoryName" autofocus>
            </div>
            <div class="form-group">
                <label>Mô tả</label>
                <input type="text" class="form-control" name="Description" id="Description">
            </div>
            <div class="form-group">
                <label>Danh mục cha:</label>
                <select class="form-control" name="ParentCategoryId" id="ParentCategoryId">
                    <option>Nước</option>
                    <option>Đồ ăn</option>
                    <option>Ăn vặt</option>
                </select>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <a href="~/Category/Index" class="btn btn-warning">
                        <i class="fa fa-window-close"></i> Bỏ qua
                    </a>
                </div>
            </div>
        </form>
    </div>
}

