﻿
@{
    ViewBag.Title = "Xác nhận xóa nhà cung cấp";
}

<form class="form-horizontal" method="post" action="~/Supplier/Delete/1234">
    <div class="form-group">
        <label class="control-label col-sm-2">Tên nhà cung cấp:</label>
        <div class="col-sm-10">
            <p class="form-control-static">Nord-Ost-Fisch Handelsgesellschaft mbH</p>
        </div>

        <label class="control-label col-sm-2">Tên giao dịch:</label>
        <div class="col-sm-10">
            <p class="form-control-static">Sven Petersen</p>
        </div>

        <label class="control-label col-sm-2">Địa chỉ liên hệ:</label>
        <div class="col-sm-10">
            <p class="form-control-static">Frahmredder 112a</p>
        </div>

        <label class="control-label col-sm-2">Quốc gia:</label>
        <div class="col-sm-4">
            <p class="form-control-static">Germany 112a</p>
        </div>
        <label class="control-label col-sm-2">Thành phố:</label>
        <div class="col-sm-4">
            <p class="form-control-static">Cuxhaven</p>
        </div>

        <label class="control-label col-sm-2">Mã bưu chính:</label>
        <div class="col-sm-4">
            <p class="form-control-static">27478</p>
        </div>
        <label class="control-label col-sm-2">Điện thoại:</label>
        <div class="col-sm-4">
            <p class="form-control-static">(04721) 8713</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn có chắc chắn muốn xóa nhà cung cấp này khỏi hệ thống hay không?
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button class="btn btn-danger">Đồng ý xóa</button>
            <a href="~/Supplier/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form>
