﻿@model LiteCommerce.Admin.Models.SupplierPaginationQueryResult
@{
    ViewBag.Title = "Quản lý nhà cung cấp";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <form method="get" action="~/Supplier/Index">
                    <div class="input-group">
                        <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="@Model.SearchValue">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid">

                <p>
                    có tất cả <strong>@Model.RowCount</strong> nhà cung cấp. Bạn đang ở trang số <strong>@Model.Page</strong>
                    trong tổng số <strong>@Model.PageCount </strong>  trang
                </p>
            </div>
            <table class="table table-striped col-md-12">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th scope="col">Tên Nhà cung cấp</th>
                        <th scope="col">Tên giao dịch</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Quốc gia</th>
                        <th scope="col">Thành phố</th>
                        <th scope="col">Mã vùng</th>
                        <th scope="col">Điện thoại</th>

                        <th class="text-right">
                            <a href="~/Supplier/Add" class="btn btn-xs btn-primary">
                                <i class="fa fa-plus"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int k = 0; }
                    @foreach (var item in Model.Data)
                    {
                        k++;

                        <tr>
                            <td>@k</td>
                            <td scope="row">@item.SupplierName</td>
                            <td>@item.ContactName</td>
                            <td>@item.Address</td>
                            <td>@item.City</td>
                            <td>@item.PostalCode</td>
                            <td>@item.Country</td>
                            <td>@item.Phone</td>
                            <td class="text-right">
                                <a href="~/Supplier/Edit/@item.SupplierID" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Supplier/Delete/@item.SupplierID" class="btn btn-xs btn-danger">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>

            </table>
            <div style="margin: auto; width: 15%;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.Page)
                            {
                                <li class="active"><a class="page-link" href="#">@i</a></li>

                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="~/Supplier/Index?Page=@i&searchValue=@Model.SearchValue">@i</a></li>

                            }

                        }
                        <li>
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>