﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.13
    </div>
    <strong>Copyright &copy; 666 <a href="https://adminlte.io">Lê Việt</a>.</strong> All rights
    reserved.
</footer>
