﻿<div class="container-fluid">
    <form method="post" action="~/Customer/Save">
        <div class="form-group">
            <label>Tên nhà khách hàng:</label>
            <input type="text" class="form-control" name="CustomerName" id="CustomerName" autofocus>
        </div>
        <div class="form-group">
            <label>Tên liên lạc:</label>
            <input type="text" class="form-control" name="ContactName" id="ContactName">
        </div>
        <div class="form-group">
            <label>Địa chỉ liên hệ:</label>
            <input type="text" class="form-control" name="Address" id="Address">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Quốc gia:</label>
                    <select class="form-control" name="Country" id="Country">
                        <option>Vietnam</option>
                        <option>USA</option>
                        <option>Canada</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Thành phố:</label>
                    <select class="form-control" name="City" id="City">
                        <option>Singapore</option>
                        <option>Paris</option>
                        <option>Stockholm</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mã bưu chính:</label>
                    <input type="text" class="form-control" name="PostalCode" id="PostalCode">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" name="Email" id="Email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Lưu dữ liệu
                </button>
            </div>
            <div class="col-md-6 text-right">
                <a href="~/Customer/Index" class="btn btn-warning">
                    <i class="fa fa-window-close"></i> Bỏ qua
                </a>
            </div>
        </div>
    </form>
</div>