﻿@model LiteCommerce.Admin.Models.CustomerPaginationQueryResult
@{
    ViewBag.Title = "Quản lý khách hàng";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <form method="get" action="~/Customer/Index">
                    <div class="input-group">
                        <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="@Model.SearchValue">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid">

                <p>
                    có tất cả <strong>@Model.RowCount</strong> nhà cung cấp. Bạn đang ở trang số <strong>@Model.Page</strong>
                    trong tổng số <strong>@Model.PageCount </strong>  trang
                </p>
            </div>
            <table class="table table-striped col-md-12">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th scope="col">Tên Khách hàng</th>
                        <th scope="col">Tên liên lạc</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Thành phố</th>
                        <th scope="col">Quốc gia</th>
                        <th scope="col">Mã bưu chính</th>
                        <th scope="col">Email</th>

                        <th class="text-right">
                            <a href="~/Customer/Add" class="btn btn-xs btn-primary">
                                <i class="fa fa-plus"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int k = 0;}
                    @foreach (var item in Model.Data)
                    {
                        k++;
                        <tr>
                            <td scope="row">@k</td>
                            <td>@item.CustomerName</td>
                            <td>@item.ContactName</td>
                            <td>@item.Address</td>
                            <td>@item.City</td>
                            <td>@item.Country</td>
                            <td>@item.PostalCode</td>
                            <td>@item.Email</td>
                            <td class="text-right">
                                <a href="~/Customer/Edit/@item.CustomerID" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Customer/Delete/@item.CustomerID" class="btn btn-xs btn-danger">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }



                </tbody>

            </table>
            <div class="container-fluid" style="text-align:center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.Page)
                            {

                                <li class="page-iXtem"><a class="page-link" href="#">@i</a></li>
                            }
                            else
                            {
                                <li class="page-iXtem"><a class="page-link" href="~/Customer/Index?Page=@i&searchValue=@Model.SearchValue">@i</a></li>

                            }
                        }
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

