﻿
@model LiteCommerce.DomainModels.Shipper

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <form method="post" action="~/Shipper/Save">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ShipperID)
            <div class="form-group">
                <label>Tên nhà vận chuyển:</label>
                @* <input type="text" class="form-control" name="ShipperName" id="ShipperName" autofocus>*@

                @Html.EditorFor(model => model.ShipperName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipperName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Số điện thoại:</label>
                @*<input type="text" class="form-control" name="Phone" id="Phone">*@

                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <a href="~/Shipper/Index" class="btn btn-warning">
                        <i class="fa fa-window-close"></i> Bỏ qua
                    </a>
                </div>
            </div>
        </form>
    </div>

}
